.app-add-form {
    margin-top: 50px;
    padding: 25px;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    max-width: 350px;
    margin-right: 20px;
}

.app-add-form > .add-form > button {
    margin: 0 auto;
}